# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Data folders (add if you don’t want to track raw data)
data/

# OS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
